<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>/dev/var</title>


    <link rel="stylesheet" href="/theme/css/{{ CSS_FILE }}"/>

    <script src="/theme/js/vendor/custom.modernizr.js"></script>

</head>
<body>
<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1><a href="/">/dev/var</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            {% for pg in PAGES %}
            <li class="divider hide-for-small"></li>
            <li
            {% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</nav>
<div class="row">
    <div class="large-12 columns">
        <h2>/dev/var</h2>

        <p>Les développeurs de l'agglomération toulonnaise se réunissent</p>
    </div>
</div>
<div class="main-header">
    <img src="/static/images/toulon-pano.jpg" alt=""/>
</div>


<div class="row">
    <div class="large-8 columns">
        {% block main %}
        {% endblock %}
    </div>


    <div class="large-4 columns">
        <h4>Suivez-nous sur twitter</h4>

        <p><a href="https://twitter.com/dev_var">@/dev/var</a></p>
        <h4>On y fait quoi</h4>

        <p>L'initiative /dev/var a pour vocation de permettre à des développeurs locaux de se réunir et d'échanger
            autour des technologies qu'ils utilisent en toute convivialité.</p>

        <h4>Sujets abordés</h4>

        <p>Les conférences ou ateliers sont proposés par les participant. <br>Nous acceptons les sujets relatifs au
            développement web, desktop, mobile, embarqué, sur technologies open source/libres ou propriétaires, les
            méthodologies et dans une moindre mesure l'ergonomie/expérience utilisateur et le design de
            produits/interfaces technologiques.
        </p>
        <h4>Nos valeurs</h4>

        <ul class="disc">
            <li>Chacun est le bienvenu : peu importe votre niveau technique, métier, sexe, race, apparence, technologies
                utilisées.
            </li>
            <li>Nous sommes indépendants. Nous définissons le programme.
            </li>
            <li> Le partage de connaissance est au coeur de notre démarche.
            </li>
        </ul>
    </div>
</div>
<footer class="row">
    <div class="large-4 columns">
        <h4>Initiatives similaires</h4>
        <ul class="no-bullet">
            <li><a href="http://clermontech.org/">Clermont'ech (Clermont-Ferrand)</a></li>
            <li><a href="http://www.meetup.com/takeoff/events/136260632/">Take Off Talks (Lille)</a></li>

        </ul>
    </div>
    <div class="large-4 columns">
        <h4>Partenaires</h4>
        <ul class="no-bullet">
            <li><a href="http://www.lacantine-toulon.org/">La Cantine by TVT (Toulon)</a></li>
        </ul>
    </div>
    <div class="large-4 columns">
        <h4>Copains</h4>
        <ul class="no-bullet">
            <li><a href="http://toulonux.org">Toulonux (Toulon)</a></li>
            <li><a href="http://gullivar.org">Gullivar (Brignoles)</a></li>
            <li><a href="http://tedxtoulon.com">TEDxToulon</a></li>
        </ul>
    </div>
</footer>
<div class="row" id="sub-footer">
    Sauf mention contraire, tout le contenu est sous licence creative commons CC-BY
</div>
<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
            '.js><\/script>')
</script>

<script src="js/foundation.min.js"></script>


<script>
    $(document).foundation();
</script>
</body>
</html>
